.header {
    display: flex;
    justify-content: center;
    gap: 400px;
    align-items: center;
    background-color: #1f2937;

}
.header-left {
    color: #f9faf8;
    font-size: 24px;
}
.header-right {
    color: #e5e7eb;
    font-size: 18px;
}
ul {
    margin: 0px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.hero-content {
    display: flex;
    gap: 150px;
    justify-content: center;
    padding: 50px;
    background-color: #1f2937;
}
.hero-content-left {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-content-left-content {
    font-size: 18px;
    color: #e5e7eb;
}
.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
}
p {
    width: 150px;
}
.pics {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
}
.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    border-radius: 20px;
}
.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.Experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.owner {
    justify-self: end;
}
.Experience-content {
    width: 800px;
}
.final-section {
    padding: 60px;
    display: flex;
    justify-content: center;
}
.blue-txt {
    width: 1000px;
}
.blue {
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 5px;
    background-color: #3882f6;
    border-radius: 5px;
    width: 700px;
    padding-left: 80px;
}
.cta-button {
    border: 1px solid;
    color: #e5e7eb;
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}
.cta {
    color: #f9faf8;
}
.cta-body {
    color: #e5e7eb;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
    display: flex;
    justify-content: center;
}
body {
    border: 0px;
    padding: 0px;
    height: 100vh;
}